.usersTop {
    background: #f0f0f0;
    background-image: url(../../../assets/images/users-top-bg.svg);
    background-size: cover;
    height: 340px;
    margin-bottom: 50px;
}
    
@media (max-width: 600px) {
    .usersTop {
        height: 200px;
    }
}